body {

    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}
.main {
    height: 200vh;
}
.left-placeholder {
    display: flex;
    flex-direction: column;


}
.infos {
    display: flex;
    flex-direction: column;
    /*background-color: rebeccapurple;*/
}

.right {
    margin-left: 450px;
    display: flex;
    flex-direction: column;
    flex-grow: 65;
    /*background-color: red;*/
}
.pp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 50vh;
    height: 450px;
    background-color: #D9D9D9;
    
}

.data {
    width: 50vh;
    height: 300px;
    /*background-color:aqua;*/
    background-color: #EBEBEB;
}

.big-text {
    /*background-color: yellow;*/
    font-size: 70px;
    align-self: center;
    padding-bottom: 0;
}

.medium-text {
    margin-top: 10px;
    margin-bottom: 5px;
    /*background-color: orange;*/
    font-size: 30px;
    margin-left: 7px;
}

.proj {
    /*background-color: green;*/
    background-color: #F4F4F4;
    height: 150vh;
    margin: 10px;
    padding: 20px;
    border-radius: 25px;
}
.left {
    padding : 10px;
    position: fixed;
    /*background-color: blue;*/
}

.round {
    border-radius: 25px;
}

.shadow {
    filter: drop-shadow(0px 6px 3px #000000);
}
.img-truc {
    margin-top: 20px;

}

.name {
    font-size: 35px;
}

.abtme {
    font-size: 20px;
    align-self: flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 40px;
    width: 100%;
}

.prog-lang {
    display: flex;
    flex-direction: row;
    /*justify-content: space-around;*/
    height: 120px;
    width: 100%;
    flex-wrap: wrap ;
    background-color: antiquewhite;

}


.container-card {


    padding: 20px;
}

.small-text {
    font-size: 20px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.section {
    display: flex;
    flex-direction: column;
}

.icons {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;

}

.icons img {
    height: 50px; 
    margin: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    
}

.title .image {
    display: flex;
    
}

.container-card .image-wrapper {
    display: flex;
    justify-content: center;
}
/*fonts*/
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


.tools {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

/*grid*/



.parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    }
    
.div1 { grid-area: 1 / 1 / 4 / 4; background-color: #A6C8B9;}
.div2 { grid-area: 1 / 4 / 4 / 7; background-color: #C5E7F8;}
.div3 { grid-area: 1 / 7 / 4 / 9; background-color: purple;}