body {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: row;
    height: 100vh;

}

.infos {
    display: flex;
    flex-direction: column;
    background-color: rebeccapurple;
}

.right {
    display: flex;
    flex-direction: column;
    flex-grow: 65;
    background-color: red;
}
.pp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 50vh;
    height: 500px;
    background-color: whitesmoke;
}

.data {
    width: 50vh;
    height: 300px;
    background-color:aqua;
}

.big-text {
    background-color: yellow;
    font-size: 80px;
    align-self: center;
}

.medium-text {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: orange;
    font-size: 30px;
    justify-content: center;
}

.proj {
    background-color: green;
    height: 100%;
    margin: 10px;

}
.left {
    padding : 10px;
    background-color: blue;
}

.round {
    border-radius: 25px;
    filter: drop-shadow(0px 6px 3px #000000);
}


.img-truc {
    margin-top: 20px;

}

.name {
    font-size: 50px;
}

.abtme {
    font-size: 30px;
    align-self: flex-start;
    margin-top: 10px;
    margin-bottom: 5px;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 40px;
    width: 100%;
}

.prog-lang {
    display: flex;
    flex-direction: row;
    /*justify-content: space-around;*/
    height: 120px;
    width: 100%;
    flex-wrap: wrap ;
    background-color: antiquewhite;

}


.container-card {
    padding: 20px;
}

.small-text {
    font-size: 20px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.section {
    display: flex;
    flex-direction: column;
}

.icons {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;

}

.icons img {
    height: 50px; /* Adjust as needed */
    margin: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    
}

/*grid*/

.parent {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

}
    
.div1 { grid-area: 1 / 1 / 3 / 3; background-color: antiquewhite;}
.div2 { grid-area: 1 / 3 / 4 / 5; background-color: aqua;}
.div3 { grid-area: 1 / 5 / 2 / 7; background-color: bisque;}