body {

    margin: 0;
    padding: 0;
    background-color: #FBFBFB;
}

a {
    text-decoration: none;
    color: black;
}
.main {
    height: 200vh;
}
.left-placeholder {
    display: flex;
    flex-direction: column;


}
.infos {
    display: flex;
    flex-direction: column;
    /*background-color: rebeccapurple;*/
}

.right {
    margin-left: 450px;
    display: flex;
    flex-direction: column;
    flex-grow: 65;
    /*background-color: red;*/
}
.pp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 50vh;
    height: 450px;
    background-color: #D9D9D9;
    
}


.data {
    width: 50vh;
    padding-bottom: 5px;
    /*background-color:aqua;*/
    background-color: #EBEBEB;
}

.big-text {
    /*background-color: yellow;*/
    font-size: 70px;
    align-self: center;
    padding-bottom: 0;
    text-align: center;
}

.medium-text {
    margin-top: 10px;
    margin-bottom: 5px;
    /*background-color: orange;*/
    font-size: 30px;
    margin-left: 7px;
}

.proj {
    /*background-color: green;*/
    background-color: #F4F4F4;
    height: 150vh;
    margin: 10px;
    padding: 20px;
    border-radius: 25px;
}
.left {
    padding : 20px;
    position: fixed;
    /*background-color: blue;*/
}

.round {
    border-radius: 25px;
}

.shadow {
    filter: drop-shadow(0px 6px 1px #000000);
}

.shadow-green {
    filter: drop-shadow(0px 6px 1px #71897E);

}

.shadow-blue {
    filter: drop-shadow(0px 6px 1px #7D9CAB);

}

.shadow-middle-grey {
    filter: drop-shadow(0px 6px 1px #A4A4A4);


}
.img-truc {
    margin-top: 20px;

}

.name {
    font-size: 35px;
}

.abtme {
    font-size: 20px;
    align-self: flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 40px;
    width: 100%;
}

.prog-lang {
    display: flex;
    flex-direction: row;
    /*justify-content: space-around;*/
    height: 120px;
    width: 100%;
    flex-wrap: wrap ;
    background-color: antiquewhite;

}


.container-card {

    text-align: center;
    padding: 20px;
}

.small-text {
    font-size: 20px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.section {
    display: flex;
    flex-direction: column;
}

.icons {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;

}

.icons img {
    height: 45px; 
    margin: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    
}

.title .image {
    display: flex;
    
}

.container-card .image-wrapper {
    display: flex;
    justify-content: center;
}

.logos .image-wrapper {
    width: 10%;
}

/*grid*/



.parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    }
    
.div1 { grid-area: 1 / 1 / 4 / 4; background-color: #A6C8B9;}
.div2 { grid-area: 1 / 4 / 4 / 7; background-color: #C5E7F8;}
.div3 { grid-area: 1 / 7 / 4 / 9; background-color: purple;}

/* responsivity */

@media (max-width: 1100px) {
    /* Your custom CSS for screens less than 1100px wide */
    body {
        /* Example CSS */
        display: flex;
        justify-content: center;
    }

    .main {
        display: flex;
        flex-direction: column;
        width: 500px;
    }

    .left {
        position: static;
    }

    .right {
        margin-left: 0;
    }

    .pp {
        width: 100%;
        
    
    }
    .data {
        width: 100%;
        height: auto;
    }

    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .name {
        font-size: 25px;
    
    }

    .big-text {
        font-size: 50px;
    }

    .icons img {
        margin: 10px;
    }
    .parent {
        display: block
    }
    .container-card {
        border-radius: 20px;
        margin-bottom: 20px;
    }

    .div1 .container-card{
        background-color: #A6C8B9;
    }

    .div2 .container-card{
        background-color: #C5E7F8;
    }

    .title {
        font-size: 20px;
    }
}


/*fonts*/
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


.tools {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


